# Weights files
*.weights
yolov3.*
AIVC_log.py

#config
config.json
utils/configBackup.json
classes.names

#environment
env.yml

#test file
zz*.py

#monitor
aivcMonitor/

#resource
resources*

#vscode
.vscode/

#darknet training chart
chart*

#Executable
*.exe

#Zip / Rar
*.zip
*.rar

#User Config
config.json

#Logs
logs/

#Executable Build file
build/

#Captured Images Folder
tag*/
temp*/

#data
data/

#color
color_mask_threshold.txt

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/
